 html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }

	/*nav decoration*/
nav {
	background-color: black;
}

.topnav {
	text-align: center;	
}
	
	/* this is specific to the list (li) in the nav element */
nav li {
	display: inline;
	list-style-type:none;
	padding: 75px
}
				/* '>' is not in the MTA courseware */
nav li > a {		/* '>' is to direct it to the 'a' = anchor, don't need to use '>' but it's best practise */
	text-decoration:none;
	color: white;
	font-size: 20px;
}

ul.topnav li a:hover {		
	transition: 0.9s;	/* slow fade into highlight when hovered over*/
	background-color: orange;
	border: 1px red solid
	}

h1, h3{
	text-align: center;
}

#about p {
	width: 500px;

}

section {
	margin: 15px;
	padding: 20px;
	background: grey;
}

	/* @media query is not in MTA courseware*/
@media screen and (min-width:900px) {
.icon {
display: none;
}

body {
    background-color: #00b3b3;

}

#home {
	position: relative;
}

#center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
	text-align: center;
	color: white;
	font-family:Book Antiqua ;
}

#jasper {
    width: 100%;
    height:525px;
}





	  
